services:
  my-portfolio:
    # Explicitly specifies the target architecture for the build AND runtime
    platform: linux/amd64
    container_name: my-portfolio
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: always
