services:
  my-portfolio:
    container_name: my-portfolio
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: always
